# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# Build
build/
dist/

# Umgebungsvariablen
.env
.env.local
.env.*.local

# Betriebssystemspezifische Dateien
.DS_Store
Thumbs.db

# IDE/Editor spezifische Dateien
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# Coverage und Tests
coverage/
*.lcov
